<!DOCTYPE html>
<html lang="en-us">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Lumina</title>
    <script type="importmap">
        {
            "imports": {
                "three": "https://unpkg.com/three@0.147.0/build/three.module.js",
                "three/addons/": "https://unpkg.com/three@0.147.0/examples/jsm/"
            }
        }
    </script>
    <script type="module" src="{% static 'Avatar/test.js' %}" defer></script>
    <link rel="shortcut icon" href="{% static 'TemplateData/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'TemplateData/style.css' %}">
    <style>
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        #unity-container {
            display: table;
            width: 100%;
            height: 100%;
        }

        #unity-canvas {
            width: 100%;
            height: 100%;
        }
    </style>
</head>

<body bgcolor="#ffffff" style="background-image: url('{% static "models/rin.png" %}'); background-size: cover; background-repeat: no-repeat; background-attachment: fixed;">
    <h1 style="color: white;">Model Loader</h1>
    {% csrf_token %}
    <div id="modelPath" style="display: none;">{% static "models/ron.glb" %}</div>
    <div id='scene-box'></div>

    <div id="listening-status">Listening...</div>
    <div id="transcription"></div>

    <button id="toggle-listening">Stop Listening</button>

    <div id="response"></div>

    <audio id="audio-player" controls style="display: none;"></audio> <!-- Hidden audio player -->

    <div id="myModal" class="modal">
        <div class="modal-content">
            <p>Do you want to listen to the audio?</p>
            <button id="consentButton">Yes</button>
        </div>
    </div>

    <div id="unity-container" class="unity-desktop">
        <canvas id="unity-canvas" tabindex="-1"></canvas>
        <div id="unity-loading-bar">
            <div id="unity-logo"></div>
            <div id="unity-progress-bar-empty">
                <div id="unity-progress-bar-full"></div>
            </div>
        </div>
        <div id="unity-warning"> </div>
    </div>

    <script>
        var container = document.querySelector("#unity-container");
        var canvas = document.querySelector("#unity-canvas");
        var loadingBar = document.querySelector("#unity-loading-bar");
        var progressBarFull = document.querySelector("#unity-progress-bar-full");
        var warningBanner = document.querySelector("#unity-warning");

        // Shows a temporary message banner/ribbon for a few seconds, or
        // a permanent error message on top of the canvas if type=='error'.
        // If type=='warning', a yellow highlight color is used.
        // Modify or remove this function to customize the visually presented
        // way that non-critical warnings and error messages are presented to the
        // user.
        function unityShowBanner(msg, type) {
            function updateBannerVisibility() {
                warningBanner.style.display = warningBanner.children.length ? 'block' : 'none';
            }
            var div = document.createElement('div');
            div.innerHTML = msg;
            warningBanner.appendChild(div);
            if (type == 'error') div.style = 'background: red; padding: 10px;';
            else {
                if (type == 'warning') div.style = 'background: yellow; padding: 10px;';
                setTimeout(function() {
                    warningBanner.removeChild(div);
                    updateBannerVisibility();
                }, 5000);
            }
            updateBannerVisibility();
        }

        var loaderUrl = "{% static 'Build/Luminaclient.loader.js' %}";
        var config = {
            dataUrl: "{% static 'Build/Luminaclient.data.gz' %}",
            frameworkUrl: "{% static 'Build/Luminaclient.framework.js.gz' %}",
            codeUrl: "{% static 'Build/Luminaclient.wasm.gz' %}",
            streamingAssetsUrl: "StreamingAssets",
            companyName: "DefaultCompany",
            productName: "Lumina",
            productVersion: "0.1",
            showBanner: unityShowBanner,
        };

        // By default, Unity keeps WebGL canvas render target size matched with
        // the DOM size of the canvas element (scaled by window.devicePixelRatio)
        // Set this to false if you want to decouple this synchronization from
        // happening inside the engine, and you would instead like to size up
        // the canvas DOM size and WebGL render target sizes yourself.
        // config.matchWebGLToCanvasSize = false;

        if (/iPhone|iPad|iPod|Android/i.test(navigator.userAgent)) {
            // Mobile device style: fill the whole browser client area with the game canvas:

            var meta = document.createElement('meta');
            meta.name = 'viewport';
            meta.content = 'width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, shrink-to-fit=yes';
            document.getElementsByTagName('head')[0].appendChild(meta);
            container.className = "unity-mobile";
            canvas.className = "unity-mobile";

            // To lower canvas resolution on mobile devices to gain some
            // performance, uncomment the following line:
            // config.devicePixelRatio = 1;


        } else {
            ;
        }

        

        loadingBar.style.display = "block";
        var testObj = {
            anim: "yawn",
            expression: "smile"
        };
        var jsonString = JSON.stringify(testObj);

        var script = document.createElement("script");
        script.src = loaderUrl;
        script.onload = () => {
            console.log("Unity script loaded successfully");

            var unity_Instance;
            var unityInstance = createUnityInstance(canvas, config, (progress) => {
                progressBarFull.style.width = 100 * progress + "%";
            }).then((unityInstance) => {
                loadingBar.style.display = "none";
                unity_Instance = unityInstance;
                unityInstance.SendMessage('Lumina', 'JsonParser', jsonString);
                testObj = {
                    anim: "bashful",
                    expression: "sad"
                };
                jsonString = JSON.stringify(testObj);
                playAnim(unityInstance, jsonString, 25000);
                testObj = {
                    anim: "none",
                    expression: "neutral"
                };
                jsonString = JSON.stringify(testObj);
                playAnim(unityInstance, jsonString, 35000);

            }).catch((message) => {
                alert(message);
            });
        };

        async function playAnim(unityInstance, json, delay) {
            await new Promise(resolve => {
                setTimeout(() => {
                    resolve();
                }, delay);
            });
            unityInstance.SendMessage('Lumina', 'JsonParser', json);
        }

        document.body.appendChild(script);
    </script>

    <script>
        var recognition;
        var isListening = false;

        function startListening() {
            recognition = new(window.SpeechRecognition || window.webkitSpeechRecognition || window.mozSpeechRecognition || window.msSpeechRecognition)();
            recognition.lang = 'en-IN';
            recognition.onresult = function(event) {
                var transcription = event.results[0][0].transcript;
                document.getElementById('transcription').innerText = transcription;
                fetchTranscription(transcription);
            };
            recognition.start();
            isListening = true;
            document.getElementById('toggle-listening').innerText = "Stop Listening";
            document.getElementById('listening-status').innerText = "Listening...";
        }

        function stopListening() {
            recognition.stop();
            isListening = false;
            document.getElementById('toggle-listening').innerText = "Start Listening";
            document.getElementById('listening-status').innerText = "Not Listening";
        }

        function fetchTranscription(transcription) {
            var csrftoken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;

            fetch('/process-speech/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrftoken
                    },
                    body: JSON.stringify({
                        query: transcription
                    }),
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log('Response:', data);
                    // Display the response in the HTML
                    document.getElementById('response').innerText = data.message;
                    // Play the audio response if available
                    if (data.audio_url) {
                        playAudio(data.audio_url);
                    }

                })
                .catch(error => {
                    console.error('Error:', error);
                    // Optionally, handle error and start listening again
                    startListening();
                });
        }

        // Get the modal
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the button that opens the modal
        var consentButton = document.getElementById("consentButton");

        // When the page loads, show the modal
        window.onload = function() {
            modal.style.display = "block";
        }

        // When the user clicks the button, hide the modal and play the audio
        consentButton.onclick = function() {
            modal.style.display = "none";
            playAudio(null); // Pass the audioUrl as a parameter
        }

        function playAudio(audioUrl) {
            var audioPlayer = document.getElementById('audio-player');
            // Ensure that the audio player is visible before attempting to play

            audioPlayer.style.display = 'none';
            // Load the audio asynchronously
            audioPlayer.src = audioUrl;
            // Play the audio
            audioPlayer.play();

            // Event listener to detect when audio playback ends
            audioPlayer.addEventListener('ended', function() {
                // Hide the audio player

                // Start listening again
                startListening();
            });
        }

        document.getElementById('toggle-listening').addEventListener('click', function(event) {
            if (isListening) {
                stopListening();
            } else {
                startListening();
            }
        });

        startListening();
    </script>
</body>

</html>
